on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Need this to get version number from last tag
          fetch-depth: 0

      - name: Install system packages
        # Can delete this if you don't use graphviz in your docs
        run: sudo apt-get install graphviz

      - name: Install python packages
        uses: ./.github/actions/install_requirements

      - name: Build docs
        run: tox -e docs

      - name: Upload built docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: build/html

      - name: Move to versioned directory
        run: mv build/html .github/pages/main

      - name: Add other releases
        run: echo Not done yet

      - name: Upload github-pages artifact
        if: github.ref_name == 'main'
        uses: actions/upload-pages-artifact@v3
        with:
          path: .github/pages

      - name: Setup Pages
        uses: actions/configure-pages@v4

  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    if: github.ref_name == 'main'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
